body
{
	margin: 0;
	background-color: rgb(255, 255, 255);
}

#wrapper
{
	margin: 10px auto;
	width: 400px;
	height: 350px;
	overflow: hidden;
	border: 3px solid black;
	padding: 5px;
}

#logo
{
	margin: 10px auto;
	width: 200px;
}

#logobilde
{
	width: 200px;
}

h1
{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

#form
{
	height: 300px;
	width: 500px;
	position: relative;
	right: 50px;
}

table
{
	margin: 0 auto;
	border-collapse: collapse;
}

table, th, td
{
	border: 1px solid black;
	text-align: center;
}

th, td
{
	padding: 2px 5px;
}

#chooseRoomSubmit
{
	position: relative;
	top: 10px;
	left: 150px;
}

#navcontainer ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

#navcontainer ul li { display: inline; }

#navcontainer ul li a
{
text-decoration: none;
padding: .1em;
color: white;
background-color: red;
}

#navcontainer ul li a:hover
{
color: #fff;
background-color: #369;
}