body
{
	margin: 0;
	background-color: #FDFDF8;
    font-family: Founders Grotesk;
}

/*
@-webkit-viewport {
    zoom: 1.0;
    width: extend-to-zoom;
    min-height: 200px;
    min-width: 200px;
}
*/

#wrapper
{
    position: relative;
	margin: auto;
	height: 400px;
    overflow: hidden;
	border: 3px solid black;
	padding: 5px;
    width: 400px;
}

#logo
{
	margin: 10px auto;
	width: 200px;
}

#logobilde
{
    position: relative;
	width: 200px;
}

h1
{
	text-align: center;
}

#form
{
    height: 500px;
    width: 400px;
	position: absolute;
    left: -20px;
}

table
{
	margin: 1 auto;
	border-collapse: collapse;
}

table, th, td
{
	border: 1px solid black;
	text-align: center;
}

th, td
{
	padding: 2px 5px;
}

#chooseRoomSubmit
{
	position: relative;
	top: 10px;
	left: 150px;
}

#timeList li
{
    display: inline;
    list-style-type: none;
    padding: 0.1em;
}

#timeList li input
{
    padding: 0.3em;
    border: none;
    width: 23px;
}

#timeList li input:hover
{
    opacity: 0.5;
    color: white;
    text-decoration: none;
}

.redTime{
    background-color: red;
    color: white;
}

.greenTime{
    background-color: green;
    color: white;

}

#infoText {
    padding: 1em;
    font-size: 1.2em;
    text-align: center;
}
    

